.board {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  background-color: white;
  font-size: 200%;
  text-align: center;
  vertical-align: middle;
  user-select: none;
}
.sink-0 {
  border: 1px dashed lightgray;
}
.sink--1 {
  border: 1px dashed lightgray;
  background-color: rgb(219, 184, 29);
}
.sink-1 {
  border: 5px solid rgb(17, 112, 112);
}
.sink-2 {
  border: 10px solid rgb(17, 112, 112);
}
.sink-3 {
  border: 15px solid rgb(17, 112, 112);
}
.sink-4 {
  background-color: rgb(17, 112, 112);
}
.field {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  transition: all 2s ease;
}
.keyboard {
  display: flex;
}
.key {
  border: 1px solid gray;
  border-radius: 20%;
  background-color: beige;
  width: 40px;
  height: 40px;
  font-size: 200%;
  text-align: center;
  vertical-align: middle;
  user-select: none;
}
